<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Talos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Talos.Properties.Settings>
            <setting name="DarkAgesPath" serializeAs="String">
                <value>C:\Program Files (x86)\KRU\Dark Ages\Darkages.exe</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>C:\Program Files (x86)\KRU\Dark Ages</value>
            </setting>
            <setting name="useDawnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="removeSpam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paranoiaMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableKom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disableSprites" serializeAs="String">
                <value>False</value>
            </setting>
        </Talos.Properties.Settings>
    </userSettings>
</configuration>