<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Talos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Talos.Properties.Settings>
            <setting name="DarkAgesPath" serializeAs="String">
                <value>C:\Program Files (x86)\KRU\Dark Ages\Darkages.exe</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>C:\Program Files (x86)\KRU\Dark Ages</value>
            </setting>
            <setting name="useDawnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="removeSpam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paranoiaMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableKom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disableSprites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="whisperFlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="whisperSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAutoAscending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BotHotKey" serializeAs="String">
                <value>"PgDn"</value>
            </setting>
            <setting name="WalkHotKey" serializeAs="String">
                <value>"Ins"</value>
            </setting>
            <setting name="CastHotKey" serializeAs="String">
                <value>"Del"</value>
            </setting>
            <setting name="SoundHotKey" serializeAs="String">
                <value>"Subtract"</value>
            </setting>
            <setting name="Combo1HotKey" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="Combo2HotKey" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="Combo3HotKey" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="Combo4HotKey" serializeAs="String">
                <value>F4</value>
            </setting>
            <setting name="RefreshAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="normalSprites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DAOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BotOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FullWindowOpt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmallWindowOpt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeWindowOpt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverrideSprites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoWalls" serializeAs="String">
                <value>False</value>
            </setting>
        </Talos.Properties.Settings>
    </userSettings>
</configuration>